* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: conic-gradient(
    from 0deg,
    #1a75fa,
    #408cf2,
    #8cbae3,
    #b2d1db,
    #d9e8d4,
    #1a75fa
  );
  background-repeat: no-repeat;
}

#h1 {
  display: flex;
  padding-top: 300px;
  justify-content: center;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 72px;

  background: linear-gradient(to right, blue, white, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#input {
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 550;
  font-style: italic;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 30px;
  background-color: #8ab6f9;
  max-height: 200px;
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 30px;
  padding: 10px;
}

#keyword-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#analyzeButton {
    background-:#d9e8d4,
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size:16px;
}

#results {
  font-size: 48px;
  display: flex;
  flex-direction: column;
}

.result-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.result-item:last-child {
  border-bottom: none;
}
